<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Téléchargez Firefox Nightly en français{% endblock %}</title>
    <meta name="description" content="Téléchargez la version officielle de Firefox Nightly en français pour Windows, macOS et Linux. Découvrez comment aider Mozilla en utilisant Nightly et avoir un impact auprès de l’ensemble des utilisateurs de Firefox.">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ path }}assets/style/base.css">
    <link rel="icon" type="image/png" href="{{ path }}assets/img/favicon.png?v=2">
</head>
<body role="document">
<div class="content">
  <a id="header" href="{{ path }}">
    <div class="container title">
      <div class="headline">
        <span class="firefox">Firefox</span> <span class="nightly">Nightly</span> <span class="language">en français</span>
      </div>
    </div>
  </a>

    <div class="container page-header">
        <h1>{% block header %}{% endblock %}</h1>
    </div>

    {% block body %}
    {% endblock %}
</div>
    {#FIXME: Generate the globe using pseudo-elements #}
    <div class="globe">
      <div class="sphere light-blue">
        <div class="sphere dark-blue">
          <div id="footer">
            <a href="https://github.com/mozfr/nightly">Contribuer à ce site</a>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{{ path }}assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="{{ path }}assets/js/switch-os.js"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  // tracker methods like "setCustomDimension" should be called before "trackPageView"
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.mozfr.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '11']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
</body>
</html>
